In [5]:
h=5
for row in range(1,h+1):
  for col in range(h,row-1,-1):
    print(row,end='')
  print()

11111
2222
333
44
5

In [6]:
h=5
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(col,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [8]:
h=5
for row in range(1,h+1):
  for col in range(h,row-1,-1):
    print(chr(row+64),end=" ")
  print()

A A A A A
B B B B
C C C
D D
E

In [9]:
h=5
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(chr(col+64),end='')
  print()

ABCDE
ABCD
ABC
AB
A

In [12]:
h=5
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(row,end='')
  print()

55555
4444
333
22
1

In [14]:
h=5
for row in range(1,h+1):
  for col in range(h,row-1,-1):
    print(col,end='')
  print()

54321
5432
543
54
5

In [16]:
h=5
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(chr(row+64),end='')
  print()

EEEEE
DDDD
CCC
BB
A

In [27]:
h=int(input())
for row in range(1,h+1):
  for col in range(h,row-1,-1):
    print(chr(col+64),end='')
  print()

5
EDCBA
EDCB
EDC
ED
E